.top-page {
  display: flex;
  flex-direction: row;
}

.filter {
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.data-picker {
  margin-left: 25px;
}

.filter-content-select {
  height: 56px;
  width: 100px;
  margin-right: 40px;
  font-size: 17px;
  margin-bottom: -7px;
  border-radius: 4px
}
